body {
	padding: 2%;
}

:root {
	--primary-color: rgb(61, 28, 34);
	--secondary-color: rgb(233, 203, 203);
}

#main {
	width: 50vw;
	background-color: var(--primary-color);
	padding: 4%;
	color: white;
}

.label {
	color: var(--secondary-color);
	font-weight: 600;
	font-size: 20px;
}

input[type="number"] {
	width: 80%;
	padding: 1.5%;
}

button {
	padding: 1%;
	width: 20%;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-size: 120%;
	font-weight: 500;
	border: none;
}

table {
	border: 1px solid var(--primary-color);
	background-color: white;
	width: 100%;
	border-collapse: collapse !important;
}

td,
tr,
th {
	padding: 10px;
	margin: 2%;
	color: var(--primary-color);
}

td {
	background-color: var(--secondary-color);
}
